.stats-filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

.stat-container {
  padding: 10px 0;
}

.stat-header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #b2b2b2;
  font-size: 18px;
  font-weight: 600;
}

.totals-row {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  font-size: 18px;
}

.totals-row > :nth-child(1) {
  justify-self: start; /* Align the first column to the left */
}

.totals-row > :nth-child(2) {
  justify-self: center; /* Center-align the second column */
}

.totals-row > :nth-child(3) {
  justify-self: end; /* Align the third column to the right */
}

.stat-bar-header,
.stat-bar-item {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  margin-bottom: 5px;
  text-align: center;
}

.stat-bar-header .host-name {
  font-size: 16px;
}

.stat-bar-item > * {
  padding: 8px;
}

@media (max-width: 1000px) {
  .totals-row {
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .totals-row {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}